@font-face {
    font-family: 'dogfight';
    src: url('./fonts/dogfight_italic-webfont.woff2') format('woff2'),
         url('./fonts/dogfight_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bubble_gum';
    src: url('./fonts/bubble_gum-webfont.woff2') format('woff2'),
         url('./fonts/bubble_gum-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'building_victory';
    src: url('./fonts/buildingvictory-webfont.woff2') format('woff2'),
         url('./fonts/buildingvictory-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* dogfight     bubble_gum     building_victory     roboto*/

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(./media/background.jpg);
}
*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: minmax(min-content, 20vh) minmax(min-content, 10vh) minmax(min-content, 70vh);
    grid-template-columns: minmax(min-content, 1fr) minmax(400px, 4fr);
    grid-template-areas: 
    "title title"
    "messages messages"
    "sidebar board";
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.title{
    grid-area: title;
    font-family: bubble_gum;
    font-size: 90px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 50px #575996,
    0 0 55px #BF5E9D,
    0 0 60px #B7436A,
    0 0 65px #F2CF8D,
    0 0 70px #74BFC2;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    align-content: center;
}
.messages{
    grid-area: messages;
    font-family: building_victory;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 10px;
    width: 100%;
    height: 100%;
    align-content: center;
}
.messages>span{
    font-weight: bold;
}
.sidebar{
    grid-area: sidebar;
    font-family: building_victory;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
    
}
.player{
    display: flex;
    gap: 15px;
    align-items: center;
    align-content: center;
}
.player>.names{
    font-weight: bold;
}
.tokens{
    width: 40px;
    aspect-ratio: 1/1;
    height: fit-content;
}
.tokens>svg{
    width: 100%;
    height: fit-content;
    padding: 0;
    aspect-ratio: 1/1;
}
.vs{
    font-family: dogfight;
    text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #f0a2a2,
    0 0 30px #f05757;
}
.boardDIV{
    grid-area: board;
    justify-self: center;
    align-self: center;
    width: 99%;
    height: 99%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    display: grid;
    grid-template: repeat(3,minmax(100px, 1fr)) / repeat(3,minmax(100px, 1fr));
    height: min(70cqh, 70cqw);
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.712);
}
.cell{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.767);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#c00{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    box-shadow: 
        inset -3px -3px 10px -3px #fcfbfcb6
    ;       
}
#c01{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    box-shadow: 
        inset 0 -3px 10px -3px #fcfbfcb6,
        inset -3px 0 10px -3px #fcfbfc67,
        inset 3px 0 10px -3px #fcfbfc67
    ;    
}
#c02{
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    box-shadow: 
        inset 3px -3px 10px -3px #fcfbfcb6
    ; 
}
#c10{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-top: 1px solid white;
    box-shadow: 
        inset 0 3px 10px -3px #fcfbfc67,
        inset -3px 0 10px -3px #fcfbfcb6,
        inset 0 -3px 10px -3px #fcfbfc67
    ;
}
#c11{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    box-shadow: 
        inset 0 0 10px 0 #fcfbfcb6
    ;
}
#c12{
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    box-shadow: 
        inset 0 3px 10px -3px #fcfbfc67,
        inset 3px 0 10px -3px #fcfbfcb6,
        inset 0 -3px 10px -3px #fcfbfc67
    ;
}
#c20{
    border-top: 3px solid white;
    border-right: 3px solid white;
    box-shadow: 
        inset -3px 3px 10px -3px #fcfbfcb6
    ;  
}
#c21{
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
    box-shadow: 
        inset 0 3px 10px -3px #fcfbfcb6,
        inset -3px 0 10px -3px #fcfbfc67,
        inset 3px 0 10px -3px #fcfbfc67
    ;  
}
#c22{
    border-top: 3px solid white;
    border-left: 3px solid white;
    box-shadow: 
        inset 3px 3px 10px -3px #fcfbfcb6
    ;  
}
.cell>svg{
    width: 100%;
}
svg>.svgOutline{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgba(255, 255, 255, 0.466); 
}
svg{
    width: 150px;
    stroke: rgba(255, 255, 255, 0.253);
}


#startGame{
    width: 70%;
    min-width: 400px;
    height: fit-content;
    max-height: 90%;
    background-color: rgb(7, 10, 15);
    border: none;
    color: white;

    display: grid;
    grid-template: min-content 1fr / 1fr;
    row-gap: 10px;
    grid-template-areas: 
    "modalTitle"
    "modalForm";
    align-items: center;
    justify-items: center;
}
#startGame::backdrop{
    background-image: url(./media/background.jpg);
}
#startGame:not([open]) {
  display: none;
}
#startGame .title{
    grid-area: modalTitle;
    font-size: clamp(1.875rem, -1.0417rem + 11.6667vw, 6.25rem);
    text-shadow:
        0 0 5px #fff,
        0 0 7px #fff,
        0 0 15px #fff,
        0 0 20px #575996,
        0 0 25px #BF5E9D,
        0 0 30px #B7436A,
        0 0 35px #F2CF8D,
        0 0 40px #74BFC2;
    padding: 5px;
}
#startForm{
    grid-area: modalForm;
    display: grid;
    grid-template-columns: repeat(2,minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
}
#startGame fieldset{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 2fr) minmax(40px, 1fr);
    gap: 5px;
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px white,
        inset 0 0 8px -2px white,
        0 0 1px 2px white,
        0 0 3px 2px white,
        0 0 5px 2px white
    ;
    border-radius: 10px;
}
fieldset>legend{
    font-family: building_victory;
    font-size: clamp(0.625rem, -0.5rem + 12vw, 2.5rem);
    margin: 0 5px -5px;
    background-color: rgba(7, 10, 15, 0.788);
}
fieldset>div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
fieldset label{
    font-family: roboto;
    font-size: 18px;
    padding-left: 5px;
    font-weight: bold;
}
.playerName{
    grid-area: 1/1/2/3;
}
.playerName>input, .playerToken>select, .playerColor>input{
    width: 100%;
    height: 20px;
    font-family: roboto;
    font-size: 16px;
    border-radius: 8px;
    padding: 0 5px;
    background-color: rgb(224, 223, 223);
    
}
.playerName>input{
    border: 2px solid #ec1298;
}
.playerName>input:focus{
    border: 2px solid #ec1298;
    outline: 2px solid #ff049f;
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px #ff049f,
        inset 0 0 8px -2px #ec1298,
        0 0 1px 2px white,
        0 0 3px 2px #ff049f,
        0 0 5px 2px #ec1298
    ;
}
.playerToken{
    grid-area: 2/1/3/2;
}
.playerToken>select{
    border: 2px solid #790be0;
}
.playerToken>select:focus{
    border: 2px solid #790be0;
    outline: 2px solid #8400ff;
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px #8400ff,
        inset 0 0 8px -2px #790be0,
        0 0 1px 2px white,
        0 0 3px 2px #8400ff,
        0 0 5px 2px #790be0
    ;
}
.playerColor{
    grid-area: 2/2/3/3;
}
.playerColor>input{
    border: 2px solid #e9bc6a;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;             /* Remove the white border/line */
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;               /* Remove internal padding */
}
.playerColor>input:focus{
    border: 2px solid #e9bc6a;
    outline: 2px solid #ffa600;
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px #ffa600,
        inset 0 0 8px -2px #e9bc6a,
        0 0 1px 2px white,
        0 0 3px 2px #ffa600,
        0 0 5px 2px #e9bc6a
    ;
}
.viewToken{
    grid-area: 3/1/4/3;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}
.viewToken>svg{
    width: min(20cqh, 20cqw);
    min-width: 80px;
    aspect-ratio: 1/1;
}
#startForm>button{
    grid-area: 2/1/3/3;
    width: fit-content;
    justify-self: center;
    height: 50px;
    border-radius: 20px;
    padding: 0 20px;
    font-family: bubble_gum;
    font-size: 20px;
    color: #082729;
    background-color: rgb(170, 197, 243);
    border: 5px solid #06292b;
    outline: 2px solid #0e5053;
}
#startForm>button:hover{
    color: rgb(170, 197, 243);
    background-color: #082729;
    border: 5px solid #0e5053;
    outline: 2px solid #06292b;
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px #06292b,
        inset 0 0 8px -2px #0e5053,
        0 0 5px 2px white,
        0 0 8px 2px #06292b,
        0 0 10px 2px #0e5053
    ;
}
#startForm>button:focus{
    color: #082729;
    background-color: rgb(170, 197, 243);
    border: 5px solid #137f85;
    outline: 2px solid #1fadb4;
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px #137f85,
        inset 0 0 8px -2px #1fadb4,
        0 0 5px 2px white,
        0 0 8px 2px #137f85,
        0 0 10px 2px #1fadb4
    ;
}


#gameOver{
    width: 60%;
    min-width: 500px;
    height: fit-content;
    max-height: 90%;
    background-color: rgba(7, 10, 15, 0.8);
    border: none;
    color: white;
    box-sizing: border-box;
}
#gameOver::backdrop{
    background-color: rgba(0, 0, 0, 0.432);
}
#gameOver:not([open]) {
  display: none;
}
#gameOverTitle{
    grid-area: 1/1/2/2;
    font-size: clamp(20px, -1.25rem + 16.6667vw, 70px);
    text-shadow:
        0 0 5px #fff,
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 10px #575996,
        0 0 10px #BF5E9D,
        0 0 10px #B7436A,
        0 0 15px #F2CF8D,
        0 0 20px #74BFC2;
    font-family: bubble_gum;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
}
.gameOverDIV{
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}
.results{
    grid-area: 2/1/3/2;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template: minmax(min-content,1fr) 30px 30px minmax(min-content,1fr) / minmax(min-content, 3fr) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 5fr) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 4fr);
    max-height: 50vh;
    justify-content: center;
    justify-items: center;
}
.loser{
    grid-area: 1/1/3/3;
    position: relative;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
}
.loserPic{
    background-image: url(./media/cry.gif);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.loserToken{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 90%; 
    height: auto;
    z-index: 2;
    opacity: 0.8;
}
.loserToken>svg{
    width: 100%;
}
.loserName{
    position: absolute;
    top: 90%;
    z-index: 3;
    padding: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: building_victory;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 
        0 0 5px rgb(143, 139, 139),
        0 0 10px rgb(143, 139, 139),
        0 0 15px rgb(143, 139, 139)
    ;
}
.winnerToken{
    grid-area: 1/4/4/5;
    align-self: end;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.winnerToken>svg{
    width: min(100%, 30vh);
    /* max-height: 30vh; */
}
.winner2{
    grid-area: 1/6/3/8;
    position: relative;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
}
.trophy{
    background-image: url(./media/trophy.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.winnerName{
    position: absolute;
    top: 90%;
    z-index: 2;
    padding: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: building_victory;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 
        0 0 5px rgb(143, 139, 139),
        0 0 10px rgb(143, 139, 139),
        0 0 15px rgb(143, 139, 139)
    ;
}
.podium{
    grid-area: 3/2/5/7;
    width: 100%;
    height: 100%;
    max-height: 150px;
    display: flex;
    z-index: 1;
}
.podium>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.restartBtn{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    justify-self: center;
}
.restart{
    width: fit-content;
    height: 50px;
    border-radius: 20px;
    padding: 0 20px;
    margin-top: 10px;
    font-family: bubble_gum;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 4, 4);
    border: 5px solid rgb(168, 30, 30);
    outline: 2px solid rgb(241, 66, 66);
}
.restart:hover{
    color: rgb(255, 4, 4);
    background-color: white;
    border: 5px solid rgb(168, 30, 30);
    outline: 2px solid rgb(241, 66, 66);
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px rgb(168, 30, 30),
        inset 0 0 8px -2px rgb(255, 4, 4),
        0 0 5px 2px white,
        0 0 8px 2px rgb(168, 30, 30 ),
        0 0 10px 2px rgb(255, 4, 4)
    ;
}
.restart:focus{
    color: rgb(92, 17, 17);
    background-color: white;
    border: 5px solid rgb(92, 17, 17);
    outline: 2px solid rgb(160, 44, 44);
    box-shadow: 
        inset 0 0 4px -2px white,
        inset 0 0 6px -2px rgb(92, 17, 17),
        inset 0 0 8px -2px #0e5053,
        0 0 5px 2px white,
        0 0 8px 2px rgb(209, 5, 5),
        0 0 10px 2px rgb(209, 5, 5)
    ;
}


#gameOverTie{
    width: 60%;
    min-width: 500px;
    height: fit-content;
    max-height: 90%;
    background-color: rgba(7, 10, 15, 0.8);
    border: none;
    color: white;
    
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
#gameOverTie::backdrop{
    background-color: rgba(0, 0, 0, 0.432);
}
#gameOverTie:not([open]) {
  display: none;
}
.tieText{
    font-family: building_victory;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 
        0 0 5px rgb(143, 139, 139),
        0 0 10px rgb(143, 139, 139),
        0 0 15px rgb(143, 139, 139)
    ;
    line-height: 0.3;
    margin-top: 25px;
}
.tieText>span{
    font-family: roboto;
    font-size: 15px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.137);
    text-shadow: none;
    font-weight: bold;
}
#gameOverTie>.results{
    grid-row: 3/4;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 2fr 1fr;
    grid-template-rows: min-content;
}
.tiePic{
    grid-column: 2/3;
    width: 100%;
    margin-top: 20px;

}
.tiePic>img{
    width: 100%;
}
.tieP1{
    grid-column: 1/2;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -20px;
}
.tieP1Token{
    width: 90%;
    display: flex;
    justify-content: end;
}
.tieP1Token>svg{
   width: 100%;
}
.tieP1Name, .tieP2Name{
    width: 90%;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: building_victory;
    font-weight: bold;
    letter-spacing: 1px;
}
.tieP2{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -20px;
}
.tieP2Token{
    width: 90%;
    display: flex;
    justify-content: start;
}
.tieP2Token>svg{
   width: 100%;
}
#gameOverTie .restartBtn{
    grid-row: 4/5;
}
    